@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body, html{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: white;
}

h1 {
    color: #373d3f;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 35px;
}

p {
    color: #373d3f; 
    margin: 20px 20px;
    font-size: 13px;
    text-indent: 25px;
}

.h1, h1 {
    background-color: #e9ecefab;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 30px 0;
    margin: 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #373d3f;
}

/*--------------------------HEADER*/

.logo {
    width: 100%;
    padding: 0;
}

/*--------------------------NAV*/

.navbar {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #373d3f;
    padding: 10px 0;
}

.navbar-light 
.navbar-nav 
.nav-link {
    color: rgba(0,0,0,.5);
    padding: 10px 20px;
}

.navbar-light 
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover {
    color: #0e3032;
    font-weight: 600;
    font-size: large;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,0.8);
    font-weight: 600;
}

/*--------------------Hero image*/

.background-home {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/pauline-loroy-unsplash.jpg);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-services {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/andrew-pons-unsplash1.jpg);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-contact {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/jamie-street-unsplash-short.jpg);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    background-color: #e9ecefab;
}

.about-us {
    background-color: #e9ecefab;
    
}

/*----------------------------------------FOOTER*/

footer {
    background-color: #e9ecefab;
    min-height: 120px;
    margin: 0;
}

.footer-header {
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 2px;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #373d3f;
    background-color: #dae0e5;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #a0e0ca;
}

/*-----------------------------------INDEX*/
/*--------content*/

.about-us-content, .meet-us-content {
    background-color: #e9ecefab;
    width: 100%;
    height: 70%;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: justify;
    padding-top: 20px;
}
.meet-us-content {
    margin-bottom: 25px;
}

.about-us-content h2, .meet-us-content h2 {
    background-color: rgba(170, 213, 222, 0.5);
    padding: 18px 0;
}

.meet-us-content p a {
    color: #373d3f;
    text-decoration: underline dotted;
}

.meet-us-content p a:hover {
    color: #a0e0ca;
}

#about-us-pic {
    opacity: 0.8;
    vertical-align: center;
    margin: 60px 90px;
    height: 300px;
    width: 300px;
    background-color: #e9ecefab;
    border-radius: 25px;
}


/*--------gallery*/

figure .container-fluid {
    background-color: white;
    margin-bottom: 2.5rem;
}

.gallery-header {
    width: 100%;
    margin: 0;
    padding: 15px 0;
}


.gallery {
    background-color: white;
    margin-top: 10px;
}

.image-one,
.image-two {
    padding: 10px 0;
}

.image-three, 
.image-four, 
.image-five {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/*--------------music playlist*/

#walking-list {
    margin:40px 0px;
    background-color: #ffffff;
}

#music-header {
    margin: 15px 0 25px 0;
    font-size: 15px;
}

/* --------------map*/
.map .col {
    padding: 0;
    margin: 0;
}

.playlist1,
.playlist2,
.playlist3 {
    padding: 10px 5px;
}

/*-------------------------------------------SERVICES*/

/*-------------------cards*/

section .service-cards {
    margin-bottom: 30px;
    
}
section .container-fluid  {
    padding: 15px 15px;
}

section .card {
    margin-bottom: 30px;
}

.row .col-sm-6 {
    padding-bottom: 25px;
}

.card-header {
    background-color: rgba(170, 213, 222, 0.5);
    text-align: center;
}

.service-cards p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 5px;
}

.service-cards p a {
    color: #212529;
    text-decoration: underline dotted;
}

.service-cards p a:hover {
    color: #a0e0ca;
}
.other-services li {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    list-style-type: circle;
    text-align: left;
    margin-left: 50px;
}

a .btn .ask-button {
    margin-top: auto;
}

/*-------------------reviews*/

section .reviews {
    margin:0 20px;
}
.review-wrapper {
    margin-bottom: 25px;
}

.img-responsive {
    display: block;
    position: relative;
    margin: 20px auto;
}

.reviews .review-header {
    margin: 30px 0;
}

/*--------------------CONTACT*/


.form-head {
    background-color: #ffffff;
    margin: 20px 0;
}


.h4, h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 0;
    background-color:  rgba(170, 213, 222, 0.5);
     margin: 20px 70px;
   }



hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 100px;
    margin-right: 100px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.h5, h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    margin-left: 15px;
}

.w-75 {
    width: 75%!important;
    padding-left: 5px;
}

.form-row {
    margin-left: 5px;
}

#sendbutton {
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;  
}

.btn-light:hover {
    color: #212529;
    border-color: #dae0e5;
    background-color: #a0e0ca;
}

section .container-fluid {
    margin-bottom: 25px;
}



/*-----------------MEDIA QUERIES*/

@media (min-width: 992px) {
    .container {
        max-width: 90%;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1390px;
    }
}