@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body, html{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: white;
}

h1 {
    color: #373d3f;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 35px;
}

p {
    color: #373d3f; 
    margin: 20px 20px;
    font-size: 13px;
}

.h1, h1 {
    background-color: #e9ecefab;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 30px 0;
    margin: 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #373d3f;
}

/*--------------------------HEADER*/

.logo {
    width: 100%;
    padding: 0;
}

/*--------------------------NAV*/

.navbar {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #373d3f;
    padding: 10px 0;
}

.navbar-light 
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover {
    color: #0e3032;
    font-weight: 600;
    font-size: large;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,0.8);
    font-weight: 600;
}

/*--------------------Hero image*/

.background-home {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/pauline-loroy-unsplash.jpg);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-services {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/andrew-pons-unsplash1.jpg);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-contact {
    opacity: 0.85;
    margin-top: 0px;
    background-image: url(../images/jamie-street-unsplash1.jpg);
    height: 60%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid {
    background-color: #e9ecefab;
}

.about-us {
    background-color: #e9ecefab;
    
}

/*--------------------FOOTER*/

footer {
    background-color: #e9ecefab;
    max-height: 180px;
    margin: 0;
}

.footer-header {
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 2px;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #373d3f;
    background-color: #dae0e5;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #a0e0ca;
}



/*--------------------INDEX*/

/*--------content*/

.about-us-content, .meet-us-content {
    background-color: #e9ecefab;
    width: 100%;
    height: 70%;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: justify;
    padding-top: 20px;
}
.meet-us-content {
    margin-bottom: 25px;;
}

#about-us-pic {
    opacity: 0.8;
    vertical-align: center;
    margin: 60px 90px;
    height: 300px;
    width: 300px;
    background-color: #e9ecefab;
    border-radius: 25px;
}

/*--------gallery*/

figure .container-fluid {
    background-color: white;
    margin-bottom: 2.5rem;
}

.gallery-header {
    width: 100%;
    margin: 0;
    padding: 15px 0;
}


.gallery {
    background-color: white;
    margin-top: 10px;
}

.image-one,
.image-two {
    padding: 10px 0;
}

.image-three, 
.image-four, 
.image-five {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/*--------------------SERVICES*/

section .service-cards {
    margin-bottom: 25px;
}
section .sevice-cards .container-fluid  {
    margin: 0;
    padding: 0 0;
}

section .card {
    margin-bottom: 25px;
}

.service-cards .row {
    padding-bottom: 25px;
    padding-left: 10px;
}

.service-cards p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.service-cards p br {
    padding-top: 10px;
}
.other-services li {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    list-style-type: circle;
    text-align: left;
    margin-left: 40px;
}


/*--------------------CONTACT*/


.h3, h3 {
    font-size: 1.4em;
    font-family: 'QUICKSAND', sans-serif;
    font-stretch: expanded;
    text-transform: uppercase;
    font-weight: 400;
    margin: 40px;
}

.h4, h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 0;
}

.h5, h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    margin-left: 15px;
}

.w-75 {
    width: 75%!important;
    padding-left: 5px;
}

.form-row {
    margin-left: 5px;
}

#sendbutton {
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;  
}

.btn-light:hover {
    color: #212529;
    border-color: #dae0e5;
    background-color: #a0e0ca;
}

section .container-fluid {
    margin-bottom: 25px;
}


/*
@media screen and (max-width: 750px) {
  .cards {
      height: 450px;
  }
}
*/